services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./data:/data
      - ./models:/models
    environment:
      - TA_SERVICE_URL=http://ta-service:8001/analyze
      - FA_SERVICE_URL=http://fa-service:8002
    depends_on:
      - ta-service
      - fa-service

  ta-service:
    build: ./technical_analysis_service
    ports:
      - "8001:8001"
    volumes:
      - ./technical_analysis_service:/app

  fa-service:
    build: ./fundamental_analysis_service
    ports:
      - "8002:8002"
    volumes:
      - ./fundamental_analysis_service:/app
